<aside class="col-md-3">
    <nav class="list-group">
        <a class="list-group-item" href="/dashboard/classified"> Classified dashboard </a>
        <a class="list-group-item" href="/dashboard/services"> Services dashboard </a>
        <a class="list-group-item" href="/dashboard/shop" > Shop dashboard </a>
        <!-- <a class="list-group-item" href="page-profile-wishlist.html"> My wishlist </a> -->
        <!-- <a class="list-group-item active" href="/my-settings"> Settings </a> -->
        <a class="list-group-item" href="/logout"> Log out </a>
    </nav>
</aside> <!-- col.// -->
