
<style>
  .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 70px; */
  line-height: 40px;
  background-color: #f5f5f5;
}
</style>

<div id="qwe123"></div>
    <!-- ========================= FOOTER ========================= -->
    <footer class="footer section-footer bg-dark" style="background-color: #212529 !important;  color: #FFFFFF80; text-align: center; width: 100%;">

        <div class="container">
          <span class="text-muted">
            © 2020 Musto developers All rights reserved.
          </span>
        </div>

    </footer> 
    <!-- ========================= FOOTER END // ========================= -->
