<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="../images/logo.jpeg">

  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="max-age=604800" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="dSSescription" content="Bootstrap e-commerce html template similar to Alibaba">
  <meta name="keywords" content="Online template, shop, theme, template, html, css, bootstrap 4">

  <title> <%= title %> </title>

  <!-- jQuery -->
  <script src="../javascripts/jquery-2.0.0.min.js" type="text/javascript"></script>

  <!-- Bootstrap4 files-->
    <script src="../javascripts/bootstrap.bundle.min.js" type="text/javascript"></script>  
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
   <link href="../stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
   <link href="../stylesheets/bootstrap3661.css" rel="stylesheet" type="text/css" />

  <!-- Font awesome 5 -->
  <!-- <link href="../fonts/fontawesome/css/all.min3661.css" type="text/css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <!-- custom style -->

  <!-- custom javascript -->


  <!--              F i l e p o n d              -->
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="/javascripts/fileUpload.js"></script>
</head>
<body id="style-3">
  
  
  <%- body %>
  
  
  
</body>

<script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
        }
        </script>
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
        
        </html>